logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
coverage.lcov
.grunt
.lock-wscript
public/apidoc/
build/Release
node_modules/
s3/
test/output/*
.npm
.node_repl_history
.nyc_output

.tmp
tmp
.idea

*userReport.csv*

.DS_Store
*.sqlite
*.env*
dist

dump.rdb

test-results.xml

.idea
*.iml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Session.vim
.vscode/*
tags
scratch

check_email_func.js
src/templates/email/.styled/*
src/templates/email/.old/*
bin/gmail_token/*
bin/get_sendgrid_templates.js
.elasticbeanstalk

.eth
dwolla-report.csv
*.~lock.*
*.heapsnapshot
