#app-content {
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3vh;
    background: ghostwhite;
    color: black;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.search-bar {
    padding-top: 2px;
    padding-bottom: 2px;
}
